page-login {
  overflow: scroll;

  #login-button1{
    background-color: #FF3366;
    width: 100%;
    margin-top:5.46rem !important; 
    font-size: 1.375rem;
    color: #ffffff;
    margin-bottom: 0;
  }

  .login{
    height: 100%;
  }

  .login__image{
    height: 24.375rem;
    width: 100%;
  }

  .login__bg{
    position: relative;
  }

  .login__icon{
    height: 9.375rem;
    width: 9.375rem;
    position: absolute;
    bottom: -1.40625rem;
    left: 50%;
    margin-left: -4.6875rem;
  }

  .login__form{
    margin-top: 4rem;
    text-align: center;
    width: 100%;
    padding: 0 2.375rem;
  }

  .login__form__elements{
    height: 6.25rem;
    font-family: Avenir;
    margin-bottom: 1.875rem;
    border-bottom: rgba(29, 29, 38, 0.05) 2px solid;
  }

  .login__form__elements--label{
    display: block;
    color: #1D1D26;
    font-size: 1.5rem;
    opacity: 0.5;
    width: 100%;
    margin-bottom: 1rem;
  }

  .login__form__elements--input{
    display: block;
    width: 100%;
    text-align: center; 
    outline: none;
    border: none;
  }

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #1D1D26;
    font-size: 1.75rem;
  }

  .login__form__list {
    width: 100%;
  }

  .login__form__elements--simple {
    width: 49%;
    margin: 1rem 0 0 0;
    display: inline-block;
    height: 1.25 rem !important;
    border: none;
    text-transform: uppercase;
  }
  
  #login-button2{
    text-align: left;
    color: #1D1D26;
    opacity: 0.5;
    font-family: 1.25rem;
  }

  #login-button3{
    text-align: right;
    color: #FF3366;
    font-family: 1.25rem;
  }

}
