page-login {
  overflow: scroll;

  .auth {
    padding-top: 25%;
  }

  .authForm{
    margin: 0 calculateRem(30px);
    padding: 0 calculateRem(20px);
    background: #ffffff;
    height: calculateRem(320px);
    text-align: center;
    border-radius: calculateRem(6px);    
  }

  .authFormGroup__title{
    @include fonts(24px, #343941, normal, 600);
    display: block;
    padding: calculateRem(20px) 0 calculateRem(40px) 0;
  }

  .authFormGroup__input{
    @include fonts(14px, #9fa7b3, normal, 400);
    display: inline-block;
    height: calculateRem(40px);
    box-shadow: 0 calculateRem(1px) 0 0 #dde6f0;
    padding: 0 calculateRem(30px) 0 calculateRem(30px);
    width: 100%;
    border: none;
    border-bottom: 1px solid #dde6f0;
  }
}
