page-list {
   
  
  .list {
    height: 100%;
    overflow: scroll;   
    padding: 50px 10px 50px 10px;
    background-color: #f6f9fc;
    .list__title{
      @include fonts(14px, #9fa7b3, normal, 600);
      padding: 10px 0;
      display: inline-block;
    }

    ion-icon{
      border: 1px solid #353a41;
      border-radius: 50px;
      padding: 5px 8px;
      margin-left: 10px;
    }

    .listWrapper{
      width: 100%;
      height: auto;
      .listItem{
        margin-bottom: 10px;
        height: 50px;
        border-radius: 6px;
        background-color: #ffffff;
        .listItem__image{
          height: 100%;
          display: inline-block;
          padding: 12px;
          border-radius: 50px;
          vertical-align: top;
        }
        .listItemGroup{
          height: 100%;
          width: 38%;
          display: inline-block;
          padding-left: 10px;
          vertical-align: top;
          padding-top: 7px;
          .listItemGroup__name{
            @include fonts(14px, #353a41, normal, 600);
            text-align: left;
          }
          .listItemGroup__date{
            @include fonts(12px, #9fa7b3, normal, 600);
            text-align: left;
          }
        }
        .listItem__price{
          @include fonts(14px, #ee5a55, normal, 600);
          vertical-align: top;
          padding: 15px 0;
          display: inline-block;
          text-align: right;
          width: 30%;
        }
        .listItem__arrow{
          @include fonts(14px, #ee5a55, normal, 600);
          display: inline-block;
          width: 10%;
          color: #9fa7b3;
          text-align: right;
          padding: 15px 10px;
        }
      }
    }
  }
}
