page-list {
    .button-round-md {
        padding: 0 1em;
    }
    .main_content {
        position: relative;
    }

    .btn_float_right {
        position: absolute;
        bottom: 65px;
        right: 15px;
    }

    .button-md {
        height: 4em;
        width: 4em;
        margin: 1em;
        z-index: 1;
    }
}
