page-list {
    overflow: scroll;    
      .page{
        height: 100%;
      }
    
      .page__image{
        height: 20.15625rem;
        width: 100%;
      }
    
      .page__bg{
        position: relative;
      }
    
      .page__icon{
        height: 9.375rem;
        width: 9.375rem;
        position: absolute;
        left: 50%;
        margin-left: -4.6875rem;
      }

      .page__info{
        width: 100%;
        position: absolute;
        top: 8.015625rem;
      }

      .page__menu{
        position: absolute;
        top: 2.71875rem;
        left: 1.171875rem;
        border: 0;
        background: transparent;
        height: 2.34375rem;
        width: 2.34375rem;
        background-image: url(../assets/img/menu_img.png);
        background-size: cover;
      }

      .page__add{
        position: absolute;
        bottom: 1.5rem;
        right: 2rem;
        height: 5.90625rem;
        width: 5.90625rem;
        background: transparent;
        padding: 0;
      }
    
      .page__list{
        margin-top: 2rem;
        text-align: center;
        width: 100%;
      }

      .page__info__text{
          text-align: center;
          position: absolute;
          width: 100%;
      }

      .page__list__item{
        height: 5.625rem;
        text-align: left;
        border-bottom: rgba(29, 29, 38, 0.05) 2px solid;
        margin-bottom: 1.875rem;
        margin-left: 1.875rem;
        margin-right: 1.875rem;
      }

      .page__list__item div{
        display: inline-block;
        vertical-align: top;
      }

      .page__list__info{
        width: 30%;
      }

      .page__list__info p{
        font-size: 2.4rem;
        line-height: 1;
      }

      .page__list__info span{
        font-size: 1.5rem;
        opacity: 0.5;
        line-height: 1;
      }

      .page__list__image{
        height: 3.75rem;
        width: 3.75rem;
      }

      .page__list__image img{
        border-radius: 50%;
      }

      .page__list__icon{
        margin-top: .8rem;
        float: right;
      }

      .page__list__icon img{
        height: 2.5rem;
        width: 2.5rem;
      }

      .page__list__title{
        margin-left: 1.875rem;
      }

      .page__list__title p{
        font-size: 1.875rem;
        line-height: 1;
        padding-bottom: 5px;
      }

      .page__list__title span{
        font-size: 1.5rem;
        opacity: 0.5;
        line-height: 1;
      }

      .page__info__text--title{
        font-size: 4.375rem;
        color: #ffffff;
        line-height: 1;
      }

      .page__info__text--description{
        font-size: 1.375rem;
        color: #ffffff;
        opacity: 0.5;
        line-height: 1;
        margin-top: 1.6875rem;
        display: inline-block;
      }
}
