<div class="page">
    <div class="page__bg">
        <button class="page__add" (click)="goForm(item)"><img src="assets/img/add.png"></button>
        <div>
          <img class="page__image" src="assets/img/list_bg.png">
        </div>
      <button class="page__menu" menuToggle left></button>
      <div class="page__info">
          <div class="page__info__text">
              <p class="page__info__text--title">{{item.name}}</p>
          </div>
      </div>
    </div>
  
    <div class="page__list">
      <div *ngFor="let item of items">
          <div *ngFor="let data of item[1]">
            <div class="page__list__item" (click)="itemSelected(data)">
                <div class="page__list__info">
                  <p>{{ data.price }}</p>
                  <span>uah</span>
                </div>
                <div class="page__list__image">
                  <img src="{{data.thumbnail}}">
                </div>
                <div class="page__list__title">
                  <p>{{ data.name }}</p>
                  <span>{{ item[0] }}</span>
                </div>
              </div>
          </div>
      </div>
    </div>
  </div>
  
  
  <!-- <button item-end dark clear ion-button (click)="itemDelete(data)" icon-only>
      <ion-icon name='trash'></ion-icon>
    </button> -->