<div class="page">
  <div class="page__bg">
      <div>
        <img class="page__image" src="assets/img/profile_img.png">
      </div>
    <img class="page__icon" src="{{this.profile.avatar}}">
    <button class="page__menu" menuToggle></button>
    <button class="page__logout" (click)="logout()"></button>
    <div class="page__info">
        <div class="page__info__text">
            <p class="page__info__text--title">{{this.profile.firstname}} {{this.profile.lastname}}</p>
            <p class="page__info__text--description">{{this.profile.username}}</p>
        </div>
  </div>
  <div class="page__content">
    <div class="page__stats">
      <div class="page__stats-item">
        <p class="page__stats-item--title">128</p>
        <p class="page__stats-item--description">complete</p>
        <div class="page__stats-item--green"></div>
      </div>
      <div class="page__stats-item">
        <p class="page__stats-item--title">14</p>
        <p class="page__stats-item--description">complete</p>
        <div class="page__stats-item--rose"></div>
      </div>
      <div class="page__stats-item">
        <p class="page__stats-item--title">28</p>
        <p class="page__stats-item--description">complete</p>
        <div class="page__stats-item--fiolet"></div>
      </div>
    </div>
    <div class="page__list">
      <div *ngFor="let item of items">
          <div *ngFor="let data of item[1]">
            <div class="page__list__item">
                <div class="page__list__info" (click)="itemSelected(data)">
                  <p>{{ data.price }}</p>
                  <span>uah</span>
                </div>
                <div class="page__list__image" (click)="itemSelected(data)">
                  <img src="{{data.thumbnail}}">
                </div>
                <div class="page__list__title" (click)="itemSelected(data)">
                  <p>{{ data.name }}</p>
                  <span>{{ item[0] }}</span>
                </div>
                <div class="page__list__icon" (click)="itemDelete(data)">
                  <img src="assets/img/trash.png">
                </div>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>