<div class="pageBody">

</div>

<!-- {{this.profile.firstname}} 
{{this.profile.lastname}}
{{this.profile.username}}
{{this.profile.avatar}}
{{this.summary}}
{{this.count}}
{{this.avg}}
{{ 'AVG' | translate }}
{{ 'COUNT' | translate }}
{{ 'SUMMARY' | translate }}

<div *ngFor="let item of items">
    <div *ngFor="let data of item[1]">
      <div class="page__list__item">
          <div class="page__list__info" (click)="itemSelected(data)">
            <p>{{ data.price }}</p>
            <span>{{ 'CURRENCY' | translate }}</span>
          </div>
          <div class="page__list__image" (click)="itemSelected(data)">
            <img src="{{data.thumbnail}}">
          </div>
          <div class="page__list__title" (click)="itemSelected(data)">
            <p>{{ data.name }}</p>
            <span>{{ item[0] }}</span>
          </div>
          <div class="page__list__icon" (click)="itemDelete(data)">
            <img src="assets/img/trash.png">
          </div>
        </div>
    </div>
</div> -->