page-profile {
  overflow: scroll;    
  background-color: #f6f9fc;

  .profile{
    padding: 70px 10px 55px 10px;
    text-align: center;
    .profileImage{
      background-color: #ffffff;
      border-radius: 6px;
      height: auto;
      .profileImage__image{
        margin-top: 15px;
        margin-bottom: 15px;
        height: 50px;
        width: 50px;
        border-radius: 50px;
      }
      .profileImage__text{
        @include fonts(14px, #353a41, normal, 600);
        padding: 5px 0;
      }
    }
    .profileStats{
      height: auto;
      margin-top: 15px;
      .profileStats__text{
        height: 45px;
        background: #ffffff;
        margin: 10px 0;
        border-radius: 6px;
        @include fonts(14px, #353a41, normal, 600);
        padding-top: 13px;
      }
    }
  }
}
