<!-- {{month_name}}
{{year}} -->
<div class="pageBody">
  <div class="Header">
    <span class="Header__small Header__small--left" menuToggle><img class="HeaderBtnMenu" src="assets/img/menu_left.png"></span>
    <span class="Header__small Header__small--middle">Salary account</span>
    <span class="Header__small Header__small--right" (click)="logout()" ><img class="HeaderBtnLogout" src="assets/img/logout.png"></span>
    <div class="clearfix"></div>
    <span class="Header__big">10 234,12</span>
  </div>
  <div class="timeline">
    <div class="timelineLine"></div>
    <div class="timelineList">
      <div class="timelineListItem" *ngFor="let item of data">
        <div class="timelineListItemGroup">
            <div class="timelineListItemGroup__date">{{item.name}}</div>
            <div class="timelineListItemGroupChild" *ngFor="let value of item.data">
                <div class="timelineListItemGroup__marker" [ngStyle]="{'background-color':value.color}"></div>
                <div class="timelineListItemGroupContent">
                  <div class="timelineListItemGroupContentImage">
                    <img class="timelineListItemGroupContentImage__image" src="{{value.avatar}}" alt="{{value.title}}">
                  </div>
                  <div class="timelineListItemGroupContentText">
                    <div class="timelineListItemGroupContentText__text">{{value.name}}</div>
                    <div class="timelineListItemGroupContentText__text">{{value.price}} uah</div>
                    <div class="timelineListItemGroupContentText__text">{{value.time}}</div>
                  </div>
                  <div class="clearfix"></div>
                </div>
            </div>
        </div>
      </div>
    </div>
    <div class="timelineForm">
        <button class="timelineForm__btn">
          <ion-datetime placeholder="Choose Date" class="datetime" displayFormat="MMM/YYYY" (ionChange)="date_Value()" [(ngModel)]="dateValue"></ion-datetime>
        </button>
    </div>
  </div>
  <div class="footer">
    <p class="footer__link footer__link--home" (click)="gotoHome()"></p>
    <p class="footer__link footer__link--explore" (click)="gotoCategories()"></p>
    <p class="footer__link footer__link--middle" (click)="gotoCategories()">
      <img class="footer__link--image" src="assets/img/plus_inverse.png">
    </p>
    <p class="footer__link footer__link--notification" (click)="gotoTimeline()"></p>
    <p class="footer__link footer__link--profile" (click)="gotoMap()"></p>
    <div class="clearfix"></div>
  </div>
</div>




<!-- (click)="itemSelected(value)" -->