<!-- {{month_name}}
{{year}} -->
<div class="Header">
  <span class="Header__small Header__small--left" menuToggle>
    <ion-icon name="menu"></ion-icon>
  </span>
  <span class="Header__small Header__small--middle">Salary account</span>
  <span class="Header__small Header__small--right" (click)="logout()" >
    <ion-icon name="log-out"></ion-icon>
  </span>
  <div class="clearfix"></div>
</div>
<div class="pageBody">
  <div class="timeline">
    <div class="timelineLine"></div>
    <div class="timelineList">
      <div class="timelineListItem" *ngFor="let item of data">
        <div class="timelineListItemGroup">
            <div class="timelineListItemGroup__date">{{item.name}}</div>
            <div class="timelineListItemGroupChild" *ngFor="let value of item.data" (click)="itemSelected(value)">
                <div class="timelineListItemGroup__marker" [ngStyle]="{'background-color':value.color}"></div>
                <div class="timelineListItemGroupContent">
                  <div class="timelineListItemGroupContentImage">
                    <img class="timelineListItemGroupContentImage__image" src="{{value.avatar}}" alt="{{value.title}}">
                  </div>
                  <div class="timelineListItemGroupContentText">
                    <div class="timelineListItemGroupContentText__text">{{value.name}}</div>
                    <div class="timelineListItemGroupContentText__text">{{value.price}} uah</div>
                    <div class="timelineListItemGroupContentText__text">{{value.time}}</div>
                  </div>
                  <div class="clearfix"></div>
                </div>
            </div>
        </div>
      </div>
    </div>
    <div class="timelineForm">
        <button class="timelineForm__btn">
          <ion-datetime placeholder="Choose Date" class="datetime" displayFormat="MMM/YYYY" (ionChange)="date_Value()" [(ngModel)]="dateValue"></ion-datetime>
        </button>
    </div>
  </div>
</div>
<div class="footer">
  <p class="footer__link" (click)="gotoHome()">
    <ion-icon name="home"></ion-icon>
  </p>
  <p class="footer__link" (click)="gotoCategories()">
    <ion-icon name="list-box"></ion-icon>
  </p>
  <p class="footer__link" (click)="gotoTimeline()">
    <ion-icon name="timer"></ion-icon>
  </p>
  <p class="footer__link" (click)="gotoMap()">
    <ion-icon name="locate"></ion-icon>
  </p>
  <div class="clearfix"></div>
</div>
<!-- (click)="itemSelected(value)" -->