page-home {
  overflow: scroll; 
  background-color: #f6f9fc;
  
  .homeHeader{
    width: 100%;
    padding: 15px 20px;
    background-image: url('../assets/img/home_bg.png');
    background-size: cover;

    .homeHeader__small{
      @include fonts(16px, #FFFFFF, normal, 600);
      display: inline-block;
      text-align: center;
    }
  
    .homeHeader__small--left{
      text-align: left;
      width: 18%;
    }
  
    .homeHeader__small--right{
      text-align: right;
      width: 18%;
    }
  
    .homeHeader__small--middle{
      text-align: center;
      width: 60%;
      padding-bottom: 10px;
    }
  
    .homeHeader__big{
      @include fonts(16px, #FFFFFF, normal, 600);
      display: inline-block;
      text-align: center;
      width: 100%;
    }

  }

  .homeBody {
    padding: 10px;
    .homeBody__title{
      @include fonts(14px, #9fa7b3, normal, 600);
    }

    .homeBodyCategory{
      width:100vw;

      .homeBodyCategory__item{
        background-color: #ffffff;
        border-radius: 6px;
        display: inline;
        margin-right: 10px;
      }
    }
  }

}