page-categories {
    .plates{
        padding-top: 50px;
        width:  100%;
        height: 100%;
        background-color: #f6f9fc;
        padding-bottom: 85px;
        overflow: scroll;
    
        .platesTitle{
          @include fonts(14px, #9fa7b3, normal, 600);
          padding-bottom: 5px;
          padding-top: 10px;
          padding-left: 10px;
          padding-right: 10px;
        }
    
        .platesWrapper{
          height: auto;
          width: 100%;
          display: block;
    
          .platesWrapperItem{
            background-color: #f6f9fc;
            display: block;
            width: 50%;
            float: left;
            padding: 5px;
          }
      
          .platesWrapperItemInfo{
            border-radius: 6px;
            background-color: #ffffff;
            width: 100%;
            height: 110px;
            text-align: center;
            .platesWrapperItemInfo__image{
              margin-top: 15px;
              margin-bottom: 10px;
              width: 40px;
              height: 40px;
              border-radius: 50%;
            }
            .platesWrapperItemInfo__text{
              @include fonts(12px, #9fa7b3, normal, 600);
            }
          }
        }
      }
}
