// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;

@font-face {
    font-family: Monaco;
    src: url(../assets/fonts/Monaco.ttf);
}

// Mixin that will include the fall back px declaration as well as the calculated rem value.
@mixin fonts($size, $color, $line_height, $weight) {
    font-size   : $size;
    line-height : $line_height;
    color       : $color;
    font-family : Monaco;
    font-weight : $weight;
}

p, span, h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

.auth{
    background-image: url('../assets/img/black_bg.png');
    background-size: cover;
    width: 100%;
    height: 100%;
}