// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@font-face {
    font-family: Avenir;
    src: url(../assets/fonts/Avenir.ttf);
}

p, span {
    padding: 0;
    margin: 0;
    font-family: Avenir;
    color: #1D1D26;
}

.menu-inner {
    background-image: url(../assets/img/sidemenu_img.png) !important;
    background-size: cover !important;
    background-position: center !important;
    padding-left: 1.5rem;
    padding-top: 15.9375rem;
    position: relative;
    width: 100%;
}

.custom {
    //z-index: 0 !important;
}

.custom button{
    display: block;
    background: transparent;
    color: #ffffff;
    font-family: Avenir;
    font-size: 2.25rem;
    text-transform: capitalize;
    padding-top:  1.875rem;
    padding-bottom:  1.875rem;
}

.toogle_button{
    position: absolute;
    top: 3.125rem;
    left: 1.5rem;
    padding: 0 !important;
    margin: 0;
    height: 1.875rem;
    width: 1.875rem;
}

.footer_button{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer_button button {
    display: inline-block;
    text-align: left;
    text-transform: uppercase;
    font-size: 1.5rem
}

.page-home{
    //perspective: 1200px;
}

.page {
    //-webkit-transition: all 1s ease-in-out;
    background: #ffffff;
}

.enableMenu {
    // transform: translate(178px, 0) scale(0.5) rotateY(-30deg);
    // overflow: hidden;
    // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}