page-welcome {
    overflow: scroll;

    .auth {
        padding: 70px 30px 25px 30px;
        height: 100%;
        .authHeader {
            margin: 0;
            @include fonts(48px, #ffffff, normal, 600);
        }
        .authTitle {
            margin: 0;
            @include fonts(32px, #ffffff, normal, 600);
            margin-top: 10px;
            margin-bottom: 100px;
        }
        .authBtn{
            width: 100%;
            display: block;
            height: 50px;
            background-color: #ffffff;
            margin-bottom: 25px;
            border-radius: 6px;
            @include fonts(16px, #565c64, normal, 600);
        }
    }
}