page-accounting {
    overflow: hidden;
    #map{
        height: 55%;
    }

    background-color: #f6f9fc;

    .item{
        .itemMain{
            background-image: linear-gradient(66deg, #485563, #29323c);
            height: 200px;
            .itemMain__title {
                @include fonts(72px, #ffffff, normal, 600);
                font-size: 72px;
                text-align: center;
            }
        }
        .itemSecondary{
            background-image: f6f9fc;
        }
    }
}
