page-accounting {
    .accounting--card {
        margin-top: 56px; 
    }
    #map{
        height: 50%;
    }
    .squirrel {
        background-image: url("../../assets/imgs/squirrel.jpg");
        height: 100%;
        width: 100%;
    }
}
