page-accounting {
    background-color: #f6f9fc;

    .item{
        height: 100%;
        padding-bottom: 55px;
        padding-top: 50px;
        overflow: scroll;
        .itemMain{
            background-image: linear-gradient(66deg, #485563, #29323c);
            height: 171px;
            position: fixed;
            width: 100%;
            z-index: 3;
            .itemMain__title {
                @include fonts(14px, #ffffff, normal, 600);
                text-align: center;
                padding-top: 15px;
                padding-bottom: 15px;
            }
            .itemMain__description {
                @include fonts(32px, #ffffff, normal, 600);
                text-align: center;
                padding-top: 15px;
                padding-bottom: 15px;
            }

            .itemMainTabs{
                width: 100%;
                height: 49px;
                background-color: rgba(0, 0, 0, 0.15);
                text-align: center;

                .itemMainTabs__link{
                    display: inline-block;
                    @include fonts(14px, #ffffff, normal, 600);
                    padding-top: 15px;
                    padding-bottom: 15px;
                    color: #ffffff;
                }
            }
        }
        .itemSecondary{
            padding: 180px 10px 10px 10px;
            height: 100%;
            overflow: scroll;

            .itemSecondaryBody{
                min-height: 100px;
                width: 100%;
                height: auto;
                padding-bottom: 10px;
                .itemSecondaryBody__description{
                    padding: 5px;
                    @include fonts(14px, #353a41, normal, 600);
                    margin: 5px 0;
                    background-color: #ffffff;
                    border-radius: 6px;
                }
                .itemSecondaryBody__title{
                    padding: 5px;
                    @include fonts(14px, #353a41, normal, 600);
                    margin: 5px 0;
                    opacity: 0.7;
                }
            }
            .itemSecondaryBtn--red {
                background-color: #ee5a55;
                -webkit-box-shadow: 0px 0px 7px 0px #ee5a55;
                -moz-box-shadow: 0px 0px 7px 0px #ee5a55;
                box-shadow: 0px 0px 7px 0px #ee5a55;
            }
            .itemSecondaryBtn--green {
                background-color: #2CC197;
                -webkit-box-shadow: 0px 0px 7px 0px rgba(44,193,151,1);
                -moz-box-shadow: 0px 0px 7px 0px rgba(44,193,151,1);
                box-shadow: 0px 0px 7px 0px rgba(44,193,151,1);
            }
            .itemSecondaryBtn{
                @include fonts(18px, #FFFFFF, normal, 600);
                padding: 0;
                width: 100%;
                height: 50px;
                border-radius: 6px;
                text-align: center;
                padding: 13px 0 ;
                margin: 10px 0 ;
            }
        }
    }
}
